.main {
    .precios {
        background-image: url('/src/images/precios-bg.jpg');
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        padding: 70px 0;
        .titulo {
            text-align: center;
            font-family: $fuente_principal;
            font-weight: 300;
            font-size: 32px;
            color: $blanco;
            margin-bottom: 70px;
        }
        .plan {
            background: $blanco;
            text-align: center;
            font-family: $fuente_principal;
            padding: 50px 0;
            -webkit-box-shadow: 0px 0px 15px 0px(0,0,0,0.35);
            box-shadow: 0px 0px 15px 0px(0,0,0,0.35);

            .nombre {
                font-size: 32px;
                line-height: 32px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .precio {
                font-weight: 300;
                font-size: 48px;
                margin-bottom: 30px;
            }
            .caracteristicas{
                list-style: none;
                padding: 0 20px;
                margin-bottom: 50px;
                    li {
                        font-size: 18px;
                        padding: 15px 0;
                        border-bottom: 1px solid #dedede;
                    }
            }
            .btn {
                width: 70%;
                font-size: 16px;
                padding: 15px 0;
                text-align: center;
                display: inline-block;
                border-radius: 100px;
            }
            &.verde{
                .nombre,
                .precio{
                    color: #86b773;
                }
                .btn{
                    color: #86b773;
                    border: 1px solid  #86b773;
                    &:hover{
                        background: #86b773;
                        color: $blanco;
                    }
                }
            }

            &.active{
                .nombre,
                .precio{
                    color: $celeste;
                }
                .btn{
                    color: $celeste;
                    border: 1px solid  $celeste;
                    &:hover{
                        background: $celeste;
                        color: $blanco;
                    }
                }
            }

            &.naranja{
                .nombre,
                .precio{
                    color: $rosadofuerte;
                }
                .btn{
                    color:$rosadofuerte;
                    border: 1px solid  $rosadofuerte;
                    &:hover{
                        background: $rosadofuerte;
                        color:$blanco;
                    }
                }
            }

         }
    }
}