.main {
    .reviews {
        padding: 70px;

        .titulo{
            text-align: center;
            font-family: $fuente_principal;
            font-weight: 300;
            font-size: 32px;
            color: $celeste;
            margin-bottom: 70px;
        }
        .cliente{
            overflow: hidden;
            margin-bottom: 20px;
             .foto{
                width: 20%;
                float: left;
                text-align: right;
                    img {
                        max-width: 100px;
                        width: 100%;
                        vertical-align: top;
                        border-radius: 100%;
                    }
             }
             .review{
                float: left;
                width: 80%;
                padding: 0 30px;
                margin-top: 20px;
                .texto{
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 10px;
                }
                .nombre {
                    color: $verde;
                    font-size: 14px;
                 }
             }
             &.derecha {
                .foto {
                    float: right;
                    text-align: left;
                }
                .review {
                    float: right;
                    text-align: right;
                }
             }
        }
    }
}